<footer>

    <div class="f-info">
        <h2 class="footerh">Visit our social media platform</h2>
        <div class="f-info-socials">
            <a href="https://t.me/+k4rdgTPwmm5kMGVl"> <i class="fa-brands fa-telegram"></i></a>
           
            
           <a href="https://youtube.com/@gautamkumarverma2929?si=2-Ah58_UDv5yRzUd"><i class="fa-brands fa-youtube"></i></i></a>
             <a href="https://www.instagram.com/ve12.ga/"> <i class="fa-brands fa-instagram"></i></a>

        </div>
       
  
    <div class="f-info-brand"> &copy;Mathematics Team</div>
    <div class="f-info-links">
        <a href="/listings/privacy">privacy</a>
        <a href="/listings/terms">terms</a>
    </div>
</div>
</footer>