<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <div class="nav-Icon">  <div>Mathematics</div>  <div>Team</div>  </div></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
     
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  href="/listings/home">Home</a>
      <a class="nav-link" href="/courses">Courses</a>
        <a class="nav-link" href="/listings/level1/show">All Documents</a>
        <a class="nav-link" href="/Students">Students</a>
      </div>
      <div class="navbar-nav ms-auto ">
       <% if(!currUser){ %>
          <a class="nav-link"  href="/signup">SignUp</a>
          <a class="nav-link" href="/login">Login</a>
      <%  }%>
      <% if(currUser){ %>
          <a class="nav-link" href="/logout">Log Out</a>
     <%   }%>
     
        

      </div>
    </div> 
  </div>
</nav>
