
<% layout('/layouts/boilerplate') -%>
<body>
  
    <div class="termsCss">
        <h3   style="margin-top: 50px; margin-bottom: 40px;">Terms and Conditions for MATHEMATICS TEAM</h3>


<h3 >1. Usage and Retention of Information</h3>
<p>By using MATHEMATICS TEAM, you agree to provide accurate and complete information as required during registration or any other interaction with our website. We retain your personal information only for as long as necessary to fulfill the purposes for which it was collected, comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

<h3>2. Cookies</h3>
<p>Our website uses cookies to enhance user experience. Cookies are small data files that are placed on your device when you visit our site. They help us understand how you use our website, improve our services, and provide personalized content. You can choose to accept or decline cookies through your browser settings; however, disabling cookies may affect the functionality of our site.</p>

<h3>3. Sharing and Disclosing Personal Information</h3>
<p>We do not sell or trade your personal information to third parties. We may share your information in the following circumstances:</p>
<ul>
    <li>With trusted third-party service providers who assist us in operating our website or conducting our business, provided these parties agree to keep your information confidential.</li>
    <li>To comply with applicable laws and regulations or to respond to lawful requests from public authorities.</li>
    <li>To protect the rights, property, or safety of MATHEMATICS TEAM, our users, or others.</li>
</ul>

<h3>4. Information Security</h3>
<p>We prioritize the security of your personal information and implement appropriate technical and organizational measures to protect it from unauthorized access, use, or disclosure. However, no method of transmission over the Internet or electronic storage is completely secure. We strive to use commercially acceptable means to protect your information, but we cannot guarantee its absolute security.</p>

<h3>5. Public Forums</h3>
<p>MATHEMATICS TEAM may offer public forums or discussion boards where users can share information and interact. Please remember that any information you post in these forums may be publicly accessible and can be viewed by others. We encourage you to exercise caution when sharing personal information in these areas.</p>

<h3>6. Ownership of Rights</h3>
<p>All content, materials, and intellectual property on MATHEMATICS TEAM, including but not limited to text, graphics, logos, and software, are owned by or licensed to MATHEMATICS TEAM. You may not reproduce, distribute, or create derivative works from any content on our website without our prior written consent.</p>

<h3>7. Consent</h3>
<p>By using MATHEMATICS TEAM, you consent to the collection, use, and disclosure of your personal information as described in this policy. If you do not agree with our terms, please do not use our website.</p>

<h3>8. Security</h3>
<p>While we take reasonable measures to protect your information, you should also take steps to protect your personal information. Use strong passwords and change them regularly. If you suspect any unauthorized access to your account, please contact us immediately.</p>

    </div>
</body>


<style>
.termsCss{
    width: 80%;
    margin-left: 50px;
    margin-bottom: 100px;
}
</style>