<% layout("/layouts/boilerplate") -%>

    <h1>Os Page1</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non eum vel repellendus corrupti, suscipit numquam
        eius reprehenderit nam expedita quibusdam fugiat? Nam veritatis quod dignissimos! Quisquam in labore voluptatem
        temporibus?
        <br>
        Earum saepe culpa beatae provident illum labore laudantium, mollitia ratione est cum vel eligendi quod
        architecto consequuntur sed aspernatur, sequi deleniti quo sapiente nobis quibusdam adipisci soluta minus quae?
        Veritatis!
        <br>

        Nemo, quod eos excepturi saepe possimus accusamus nihil, molestiae eius error necessitatibus tempora magni
        quidem, enim ab sunt? Dolorum modi, corporis magnam unde animi impedit nam? Soluta accusantium eveniet minima.
        Neque consequatur ut quidem a consectetur temporibus error odit consequuntur molestiae cupiditate autem
        corporis, suscipit maiores! Ipsam dicta iure excepturi voluptatibus ratione corrupti incidunt, suscipit labore
        debi
    </p>

