<% layout("/layouts/boilerplate") -%>
<body>


    <div class="homePage">
        <h1>
            Welcome To
            <br>
            Mathematics Team
        </h1>
    <h5>On of the best Institute in Jharkhand,Hazaribagh</h5>
    </div>
</body>
</html>