<% layout("/layouts/boilerplate") -%>

    <body>
       
        <div class="homePage">
           
            <h1>
                Welcome To
                <br>
                Mathematics Team
            </h1>
            <h5>On of the best Institute in Jharkhand,Hazaribagh</h5>
            <div class="adminphoto row-cols-lg-2 row-cols-md-1 row-cols-sm-1">
                <div>
                    <h3>learn & get 100 marks</h3>
                    <h3>Become Top 1% student</h3>
                    <br>
                    <div class="contaScroll">
                        <span class="text first-text">Let's learn Subject</span>
                        <span class="text sec-text">Mathematics</span>
                    </div>
                </div>

                <div>
                    <img src="https://img.freepik.com/free-psd/happy-young-guy-with-laptop-s-template_23-2147653520.jpg?ga=GA1.1.2016781681.1715510820&semt=ais_hybrid"
                        alt="adminphoto" height="300px" width="350px" class="adminImage">
                </div>

            </div>
        </div>
             <!-- New code  for videos yt-->
        <!-- Container to show videos -->
   <div id="videos">

        <script>
        const API_KEY = "AIzaSyBW61sb_oUA1RNr38RApbFx5XD5IFKiOfc";
        const CHANNEL_ID = "UCQgDZRbDgl6JJfS9NzSyG6Q";

        async function loadVideos() {
            try {
            // Step 1: Get Uploads playlist ID from the channel
            const channelRes = await fetch(`https://www.googleapis.com/youtube/v3/channels?part=contentDetails&id=${"UCQgDZRbDgl6JJfS9NzSyG6Q"}&key=${"AIzaSyBW61sb_oUA1RNr38RApbFx5XD5IFKiOfc"}`);
            const channelData = await channelRes.json();

            const uploadsPlaylistId = channelData.items[0].contentDetails.relatedPlaylists.uploads;

            // Step 2: Get videos from the uploads playlist
            const videosRes = await fetch(`https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=10&playlistId=${"PLuiVMOzrmIK9yvtw3a1UqZ0Zz4-qS6hti"}&key=${"AIzaSyBW61sb_oUA1RNr38RApbFx5XD5IFKiOfc"}`);
            const videosData = await videosRes.json();

            const container = document.getElementById("videos");

            if (!videosData.items || videosData.items.length === 0) {
                container.innerHTML = "<p>No videos found on the channel.</p>";
                return;
            }

            videosData.items.forEach(video => {
                const videoId = video.snippet.resourceId.videoId;
                const iframe = document.createElement("iframe");
                iframe.width = "300";
                iframe.height = "170";
                iframe.src = `https://www.youtube.com/embed/${videoId}`;
                iframe.frameBorder = "0";
                iframe.allowFullscreen = true;
                iframe.style.margin = "10px";
                container.appendChild(iframe);
            });
            } catch (error) {
            console.error("Error loading videos:", error);
            document.getElementById("videos").innerHTML = "<p>Error loading videos.</p>";
            }
        }

        loadVideos();
        </script>
   </div> 

 <!-- <--------video code end ------>
        <section class="subsSec">
          
                <h4 style="margin-left: 25%;">Jharkhand's Most Loved Educational platform <i class="fa-solid fa-heart"></i></h4>
                <br>
            <div class="subsSecInner">
                <div>
                    <span> Subscribers:</span> &nbsp;<i class="fa-solid fa-people-group"></i>
                    <div id="subCount"> </div>
                </div>

                <div>
                    <span>Total views</span> &nbsp;<i class="fa-solid fa-eye"></i>
                    <div id="viewCount"></div>
                </div>
                <div>
                    <span>Total videos</span>  &nbsp;<i class="fa-solid fa-video"></i>
                    <div id="videoCount"></div>
                </div>
               

            </div>
          
        </section>
   
  <br>
        <script>
            // <----------text javaScipt code -learn yt -CodingLab----->
                // <----Multiple text typing----->
            const text = document.querySelector(".sec-text");

            const textLoad = () => {
                setTimeout(() => {
                    text.textContent = "Mathematics";
                }, 0);
                setTimeout(() => {
                    text.textContent = "Physics";
                }, 4000);
                setTimeout(() => {
                    text.textContent = "Chemistry";
                }, 8000);

            }
            textLoad();
            setInterval(textLoad, 12000);

            // <-----Get Subscriber javaScript code- learn from yt -raddy ------>
            const ytKey = 'AIzaSyB6HVxN1_ZCH8m_l8mAS1vArCCsfVMU9l0';
            const ytUser = 'UCQgDZRbDgl6JJfS9NzSyG6Q';
            const subCount = document.getElementById('subCount');
            const viewCount = document.getElementById('viewCount');
            const videoCount = document.getElementById('videoCount');


            let getSubscribers = () => {
                fetch(`https://www.googleapis.com/youtube/v3/channels?part=statistics&id=${ytUser}&key=${ytKey}`)
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        console.log(data);
                        subCount.innerHTML = data["items"][0].statistics.subscriberCount;
                        viewCount.innerHTML = data["items"][0].statistics.viewCount;
                        videoCount.innerHTML = data["items"][0].statistics.videoCount;

                    })

            }
            getSubscribers();
        </script>
    </body>

    </html>